.example {
	background-color: $color-fountain-blue;
	color: $color-white;
	height: 100vh;

	&-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
		width: 100%;
		padding: 0 15px;
	}
}