/* Colors
   ========================================================================== */

/**
 * Set colors used in project. e.g $color-name: #hexvalue
 */

$color-black: #000000;
$color-white: #ffffff;
$color-fountain-blue: #45AEB1;